<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo perrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="guardar(formulario)">

    <ion-list>
      <ion-list-header>
        <ion-label class="titulo">Datos del perrito</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-input
          label="Nombre"
          labelPlacement="floating"
          placeholder="Rocky"
          name="nombre"
          [(ngModel)]="nombre"
          required
          errorText="El nombre es obligatorio"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Raza"
          labelPlacement="floating"
          placeholder="Labrador"
          name="raza"
          [(ngModel)]="raza"
          required
          errorText="La raza es obligatoria"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Edad"
          labelPlacement="floating"
          placeholder="2 años"
          name="edad"
          [(ngModel)]="edad"
          required
          errorText="La edad es obligatoria"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Sexo" name="sexo" [(ngModel)]="sexo">
          <ion-select-option value="Macho">Macho</ion-select-option>
          <ion-select-option value="Hembra">Hembra</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="Tamaño" name="tamano" [(ngModel)]="tamano">
          <ion-select-option value="Pequeño">Pequeño</ion-select-option>
          <ion-select-option value="Mediano">Mediano</ion-select-option>
          <ion-select-option value="Grande">Grande</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-toggle name="vacunada" [(ngModel)]="vacunada">Vacunado</ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label class="titulo">Descripción</ion-label>
      </ion-list-header>

      <ion-item lines="none">
        <ion-textarea
          label="Cuéntanos sobre él/ella"
          labelPlacement="floating"
          placeholder="Es..."
          [autoGrow]="true"
          rows="3"
          name="descripcion"
          [(ngModel)]="descripcion"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="formulario.invalid">
        Guardar perrito
      </ion-button>
    </div>

  </form>
</ion-content>
