.fab-extendido {
  --border-radius: 28px;
  --padding-start: 10px;
  --padding-end: 130px;
  height: 40px;
  width: auto;

  ion-icon {
    margin-inline-end: 6px;
  }
}
.correo {
  display: block;
  font-size: 12px;
  font-weight: normal;
}
