<ion-card class="carta" [routerLink]="['/detalle', perro.id]">
  <div class="foto-wrapper">
    <img [src]="perro.foto" [alt]="'Foto de ' + perro.nombre">
    <ion-badge class="estado" [color]="perro.adoptado ? 'success' : 'danger'">
      {{ perro.adoptado ? 'Adoptado' : 'No Adoptado' }}
    </ion-badge>
  </div>

  <ion-card-header>
    <div class="presentacion">
      <ion-card-title>{{ perro.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ perro.raza }}</ion-card-subtitle>
    </div>
  </ion-card-header>

  <ion-card-content>
      <div>{{ perro.edad }}, {{ perro.sexo }}</div>
    @if (perro.vacunada) {
      <div class="vacunada">Vacunado</div>
    } @else if (perro.sexo == "Hembra") {
      <div class="no-vacunada">No vacunada</div>
    } @else {
      <div class="no-vacunada">No vacunado</div>
    }
  </ion-card-content>
</ion-card>
